.logo-img {
  width: 2rem;
  height: 2rem;
}

/* .dashboard-assetsdisplay-container
  > .dashboard-assetsdisplay
  .MuiTableCell-stickyHeader {
  position: sticky;
} */

.asset-display-buttons-container {
  display: flex;
  flex-direction: row;
}
