.signupbutton {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
}

.signupbutton:hover {
  color: #c7c9cd;
}
