.LogoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

/* .LogoIcon-inverted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
} */
