.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
  width: 42%;
}

.signup-form > div {
  display: flex;
  flex-direction: column;
}

.signup-form > div > label {
  font-size: 0.8rem;
}
