.navbar-top {
  margin-top: 0%;
  padding-top: 0%;
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #7a7963;
  border-radius: 0.5rem;
}

.navbar-top > .LogoIcon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  padding: auto;
  max-width: 10%;
}

.navbar-top > span {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.navbar-top > ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: 3%;
}

.profile-dropdown {
}
