button.login {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  margin: auto;
  padding: auto;
}

button.login:hover {
  color: rgb(90, 90, 102);
}

.LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.LoginForm > div {
  display: flex;
  flex-direction: column;

  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
.LoginForm > button {
  background-color: inherit;
  align-self: center;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.15rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: solid 1px;
  border-color: rgb(90, 90, 102);
}
.LoginForm > button:hover {
  background-color: rgb(90, 90, 102);
  color: white;
}
.LoginForm > h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.LoginForm > div > h5 {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 0.5rem;
}
.LoginForm > div > a {
  text-decoration: none;
  font-size: 0.2rem;
  font-weight: 900;
}
.LoginForm > div > a:hover {
  color: rgb(90, 90, 102);
}
.LoginForm input {
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}
.LoginForm input::placeholder {
  text-align: center;
  font-size: 0.4rem;
}
.login-error-space {
  height: 1.25rem;
  font-size: 0.2rem;
  list-style: none;
  padding-left: 0;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
