button.login {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5rem;
  margin-right: 2%;
  padding: auto;
}

button.login:hover {
  color: #c7c9cd;
  cursor: pointer;
}

.LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.LoginForm > div {
  display: flex;
  flex-direction: column;

  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
.LoginForm > button {
  background-color: inherit;
  align-self: center;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.15rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  border: solid 1px;
  border-color: rgb(90, 90, 102);
}
.LoginForm > button:hover {
  background-color: #7a7963;
  color: white;
}
.LoginForm > h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.LoginForm > div > h5 {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 0.7rem;
}
.LoginForm > div > a {
  text-decoration: none;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  color: #7a7963;
}
.LoginForm > div > a:hover {
  color: #2a2b2e;
}
.LoginForm input {
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
}
.LoginForm input:hover {
  background-color: #e7e7e2;
}
.LoginForm input::placeholder {
  text-align: center;
  font-size: 0.6rem;
}
.login-error-space {
  height: 1.25rem;
  font-size: 0.6rem;
  list-style: none;
  padding-left: 0;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
